body{
    display: flex;
    position: absolute;
    left: 5%;
    background-color: black; 
}
.image_cover{
    background-image: url('images/stefan-stefancik-5p_7M5MP2Iw-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: right;
}
span{
    font-weight: 1000;
}
.orng_box{
    color: white;
    position: absolute;
}
.logo li{
    list-style: none;
    float: left;
    padding: 4.5%;
}
.orng_box p{
    text-align: left;
    font-size: 100%;
}
.blank_box h3{
    background-color: #f09165a4;
    border: 7px solid white;
    margin-right: 20%;
    color: white;
    font-weight: 1000;
    font-size: 300%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: right;
    margin-top: 50px;
}
.black_box{
    position: absolute;
    border-left: 7px solid white;
    padding: 2%;
    padding-top: 10%;
    color: white;
    margin-top: -7%;
    left: 3%;
}
.options li{
    list-style: none;
    padding: 0.5%;
    margin-top: 25px;
}
.footer{
    margin-top: 10%
}
.footer li{
    list-style: none;
    font-weight: 700;
    font-size: 110%;
}
.green_box{
    background-color: #72ada9a8;
    position: absolute;
    margin-top: -23%;
    padding-top: 20%;
}
.all_content{
    color: white;
}
.last_logo li{
    list-style: none;
    display: inline-flex;
    text-align: center;
}
.all_content a:hover{
    text-decoration: none;
    color: white;
}
.all_content a{
    color: white;
}
.doshbox{
    position: relative;
    left: 10%;
}
.doshbox h2{
    font-size: 700%;    
    font-weight: 1000;
    letter-spacing:7px;
    z-index: 1;
    position: relative;
}
.doshbox h3{
    font-size: 400%;
}
.doshbox p{
    font-weight: 900;
    letter-spacing: 2px;    
}
